<!-- views/partials/navbar.ejs -->
<header class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/dashboard">
        <img src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg" width="110" height="32" alt="Logo" class="navbar-brand-image">
      </a>
    </h1>
    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm">👤</span>
          <div class="d-none d-xl-block ps-2">
            <div><%= user ? user.username : 'Guest' %></div>
            <div class="mt-1 small text-muted"><%= user ? user.role : '' %></div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/profile" class="dropdown-item">Profile</a>
          <div class="dropdown-divider"></div>
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>